<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <queries>
        <package android:name="com.vivo.globalsearch" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coroutine"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".hardware.NfcActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jitpack.recyclerview.RecyclerViewActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".jitpack.lifecycle.LifeCycleActivity"
            android:exported="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true" />
        <activity
            android:name=".jitpack.material.TabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".github.moshi.MoshiActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.ui.payload.PayloadActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.ui.faker.DiagnosisActivity"
            android:documentLaunchMode="intoExisting"
            android:excludeFromRecents="false"
            android:exported="false"
            android:maxRecents="3" />
        <activity
            android:name=".ui.view.ui.faker.PhoneInfoActivity"
            android:exported="false"
            android:icon="@drawable/app_icon_one"
            android:label="手机信息" />
        <activity
            android:name=".ui.view.ui.MultiActivity"
            android:exported="true"
            android:icon="@drawable/app_icon_two"
            android:label="手机诊断" />
        <activity
            android:name=".ui.view.ui.LanguageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.ui.NetworkStatsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.ui.webview.WebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true" />
        <activity
            android:name=".jitpack.paging.Paging3Activity"
            android:exported="true" />
        <activity
            android:name=".ui.view.ui.ExifInterfaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.ui.StorageStatsManagerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.ui.AppOpsManagerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.ui.UsageStatsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.DiskLruCacheActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.SignInfoActivity"
            android:exported="true" />
        <activity
            android:name=".github.koin.KoinActivity"
            android:exported="true" />
        <activity
            android:name=".kotlin.flow.FlowActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".jitpack.parcelize.ParcelizeActivity"
            android:exported="true" />
        <activity
            android:name=".github.kodein.KodeinActivity"
            android:exported="true" />
        <activity
            android:name=".github.otto.OttoActivity"
            android:exported="true" />
        <activity
            android:name=".github.autodispose.AutoDisposeActivity"
            android:exported="false" />
        <activity
            android:name=".github.coil.CoilActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name="cn.quibbler.coroutine.feature.share.FileShareActivity"
            android:exported="true"
            android:label="File Share Demo" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false" >
            <meta-data
                android:name="cn.quibbler.coroutine.initializer.InitKey"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>